nav {
    background-Color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    height:64px;
    border-bottom:solid 1px rgb(221, 221, 221);
    margin-top:65px;
    /* color:rgb(255, 31, 98); */
}
#logo {
    background-image: url('https://media-public.canva.com/MAC6nELjDIw/1/thumbnail_large.jpg');
    background-clip: text;
-webkit-background-clip: text;
color: transparent
}
/* font-family: 'Indie Flower', cursive; */